# Exercises

**(1)** Print the version number of the interpreter!

In [ ]:
import sys

print(f'Python version: {sys.version}')

In [ ]:
import platform

print(f'Python version: {platform.python_version()}')

**(2)** Write a program, which requires a value from the user and print it in hexadecimal form!

In [ ]:
value = input('Decimal value: ')
int_value = int(value)
print(f'Hexadecimal: {int_value:X}')

**(3)** Calculate the average of the following weights!

In [ ]:
weight = [0.7, 9.2, 3.8, 7.4, 5.5]
average = sum(weight) / len(weight)
print(f'Average = {average}')

**(4)** Print the minimal and maximal value of the weights in a tuple!

In [ ]:
weights = [0.7, 9.2, 3.8, 7.4, 5.5]
result = (min(weights), max(weights))
print(f'Bounds: {result}')

In [ ]:
weights = [0.7, 9.2, 3.8, 7.4, 5.5]
result = min(weights), max(weights)
print(f'Bounds: {result}')

**(5)** Collect the common elements of the following lists.

In [ ]:
a_list = [8, 3, 'third', False, 2, 9]
b_list = [3, 9, True, 'other']
common_elements = set(a_list) & set(b_list)
print(f'Common elements: {common_elements}')

In [ ]:
a_list = [8, 3, 'third', False, 2, 9]
b_list = [3, 9, True, 'other']
common_elements = set(a_list).intersection(set(b_list))
print(f'Common elements: {common_elements}')

**(6)** Collect the common values of the following dictionaries.

In [ ]:
a_dict = {
    'name': 'A',
    'age': 80,
    'height': 200,
    'location': 'B'
}
b_dict = {
    'name': 'B',
    'age': 200,
    'height': 180,
    'description': 'C'
}

In [ ]:
common_values = set(a_dict.values()) & set(b_dict.values())
print(f'Common values: {common_values}')

**(7)** Count how many different values are in the following dictionary!

In [ ]:
a_dict = {
    'name': 'A',
    'age': 80,
    'height': 200,
    'location': 'B'
}
b_dict = {
    'name': 'B',
    'age': 200,
    'height': 180,
    'description': 'C'
}

In [ ]:
unique_values = set(a_dict.values()) | set(b_dict.values())
print(f'Count of different values: {len(unique_values)}')

In [ ]:
unique_values = set(a_dict.values()).union(set(b_dict.values()))
print(f'Count of different values: {len(unique_values)}')

**(8)** Define a dictionary which contains the name and number of the months!

In [ ]:
months = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

**(9)** Require a text from the user and print only its last two word!
* We can assume that the words are separated by spaces, and
* the user provides at least two words in the text.

In [ ]:
text = input('Text: ')
last_words = text.split(' ')[-2:]
print(f'Last words: {last_words}')

**(10)** Print the even numbers between 400 and 420!

In [ ]:
print(list(range(400, 421, 2)))

**(11)** Require a text from the user and print it in reverse order!

In [ ]:
text = input('Text: ')
print(f'Reversed: "{text[::-1]}"')

**(12)** Require a text from the user and check that its first and last character is the same!

In [ ]:
text = input('Text: ')
text[0] == text[-1]

In [ ]:
text = input('Text: ')
result = text[0] == text[-1]
print(f'Are the same? {result}')

**(13)** Require a name from the user and check that whether is it a builtin name or not!

In [ ]:
name = input('name: ')
name in dir(__builtins__)

In [ ]:
name = input('name: ')
is_builtin_name = name in dir(__builtins__)
print(f'The name "{name}" is in built-ins: {}')

**(14)** How many ``-`` characters are in the following line?
* Print it more elegantly!

--------------------------------------------------------------

In [ ]:
len('--------------------------------------------------------------')

In [ ]:
'-' * 62

**(15)** Require 3 words from the user and print it separated by spaces!

In [ ]:
word_1 = input('First word: ')
word_2 = input('Second word: ')
word_3 = input('Third word: ')
print(f'{word_1} {word_2} {word_3}')

**(16)** Require the beginning and the end of an interval, and print the integer values between them!
* Let assume that the interval is exclusive in both sides!
* Check the interval by using the ``assert`` keyword!

In [ ]:
a = int(input('Beginning of the interval: '))
b = int(input('End of the interval: '))
assert a < b, 'The interval is invalid!'
print(list(range(a + 1, b)))

**(17)** Collect the object the known types which boolean value is not true!

In [ ]:
None, False, 0, 0.0, '', [], (), set(), {}

**(18)** Define two tuples which equal but not identical!

In [ ]:
a = ([])
b = ([])
assert a == b
assert a is not b

**(19)** Require an e-mail address from the user, and check that it contains ``@`` and ``.`` characters!
* The "check" here means that print it is true or false.

In [ ]:
email = input('E-mail address: ')
has_at = '@' in email
print(f'Has "@" character? {has_at}')
has_dot = '.' in email
print(f'Has "." character? {has_dot}')

**(20)** Give an example for the De Morgan rule by logical expressions!

In [ ]:
a, b = True, False
# a, b can be arbitrary logical value.
cond_1 = not (a is True and b is False)
cond_2 = a is not True or b is not False
assert cond_1 is cond_2

**(21)** Print every fifth built in names!

In [ ]:
dir(__builtins__)[::5]

In [ ]:
# A more accurate solution:
dir(__builtins__)[4:][::5]

**(22)** Write a Python expression which results the following list!

In [ ]:
[3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5]

In [ ]:
[3, 4, 5] * 8

**(23)** Require four integer numbers from the user and print that it is a new one, or it has been already given!

In [ ]:
numbers = []
n = int(input('First? '))
numbers.append(n)
n = int(input('Second? '))
print(f'Has been already given? {n in numbers}')
numbers.append(n)
n = int(input('Third? '))
print(f'Has been already given? {n in numbers}')
numbers.append(n)
n = int(input('Forth? '))
print(f'Has been already given? {n in numbers}')

**(24)** Represent a Tic-Tac-Toe table as a list of lists!

In [ ]:
table = [
    [' ', 'X', 'O'],
    [' ', 'X', 'O'],
    ['O', 'X', ' '],
]