# Exercises

**(1)** Print the version number of the interpreter!

In [1]:
import sys
print(sys.version)

3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

**(2)** Write a program, which requires a value from the user and print it in hexadecimal form!

In [2]:
value = int(input('Input a number, please: '))
print(hex(value))

Input a number, please: 25
0x19

**(3)** Calculate the average of the following weights!

In [ ]:
weight = [0.7, 9.2, 3.8, 7.4, 5.5]

**(4)** Print the minimal and maximal value of the weights in a tuple!

In [ ]:
weight = [0.7, 9.2, 3.8, 7.4, 5.5]

**(5)** Collect the common elements of the following lists.

In [ ]:
a_list = [8, 3, 'third', False, 2, 9]
b_list = [3, 9, True, 'other']

**(6)** Collect the common values of the following dictionaries.

In [ ]:
a_dict = {
    'name': 'A',
    'age': 80,
    'height': 200,
    'location': 'B'
}
b_dict = {
    'name': 'B',
    'age': 200,
    'height': 180,
    'description': 'C'
}

**(7)** Count how many different values are in the following dictionary!

In [ ]:
a_dict = {
    'name': 'A',
    'age': 80,
    'height': 200,
    'location': 'B'
}
b_dict = {
    'name': 'B',
    'age': 200,
    'height': 180,
    'description': 'C'
}

**(8)** Define a dictionary which contains the name and number of the months!

**(9)** Require a text from the user and print only its last two word!
* We can assume that the words are separated by spaces, and
* the user provides at least two words in the text.

**(10)** Print the even numbers between 400 and 420!

**(11)** Require a text from the user and print it in reverse order!

**(12)** Require a text from the user and check that its first and last character is the same!

**(13)** Require a name from the user and check that whether is it a builtin name or not!

**(14)** How many ``-`` characters are in the following line?
* Print it more elegantly!

--------------------------------------------------------------

**(15)** Require 3 words from the user and print it separated by spaces!

**(16)** Require the beginning and the end of an interval, and print the integer values between them!
* Let assume that the interval is exclusive in both sides!
* Check the interval by using the ``assert`` keyword!

**(17)** Collect the object the known types which boolean value is not true!

**(18)** Define two tuples which equal but not identical!

**(19)** Require an e-mail address from the user, and check that it contains ``@`` and ``.`` characters!
* The "check" here means that print it is true or false.

**(20)** Give an example for the De Morgan rule by logical expressions!

**(21)** Print every fifth built in names!

**(22)** Write a Python expression which results the following list!

In [ ]:
[3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5]

**(23)** Require four integer numbers from the user and print that it is a new one, or it has been already given!

**(24)** Represent a Tic-Tac-Toe table as a list of lists!